#previewBox{
  background-image: url("headingGenerator.jpg");
  width: 100%;
  height:300px;
  max-height: 500px;
  padding-top:50px;
  padding-bottom:50px;
}
body{
  background: #808080;
  margin:0px;
}
td:first-child{
  text-align: right;
}
td[colspan=2]{
  text-align: left!important;
}
*{
  font-family: 'Lato', sans-serif;
  color: #FFF;
}
h1, h2, h3, h4, h5, h6{
  display: inline-block;
  margin:3px 0px;
  padding:0px;
  color:#f8ff96;
}
#settingsPanel{
  max-width:500px;
}
input{
  margin-left:5px;
  margin-right:5px;
  border-radius: 8px;
  width: auto;
  border: none;
  padding: 3px;
  color: #000;
  background: #FFF;
}
textarea{
  color:#000000;
  width: 100%;
  min-height:400px;
}
input[type=color]{
  width:30px;
}
#wygenerujBtn{
  cursor:pointer;
  border-radius: 15px;
}
.uiElement{
  border-radius: 8px;
  background:#383131ed;
  padding:15px;
  margin:15px;
}
li{
  margin-bottom: 5px;
}
#belka{
  background: #3d3636;
  padding: 10px;
  font-size: 20px;
}
